{% extends "modules/issues/fragments/page.html" %}

{% block header %}
  <script language="javascript" src="/static/scripts/marked/marked.js"></script>
  <script language="javascript" src="/static/scripts/markdown-editor.js"></script>

  {{ super() }}
{% endblock %}

{% block content %}
  <form action="/issues{% if issue %}/{{ keys.issue_id }}{% endif %}" method="POST">
    {{ xsrf_input() }}
    {% if issue %}<input type="hidden" name="_method_" value="PUT">{% endif %}
    <div class="col_12 issues">
      <div class="col_1 property" style="padding: 5px 0 0 0;"><label for="summary">Summary:</label></div>
      <div class="col_11 summary">
        <input type="text" name="summary" class="full-width required"
            value="{% if issue %}{{ issue.summary|e }}{% endif %}">
      </div>
    </div>

    <div class="col_12 issues">
      <div class="col_8">
        {% if issue %}
          {% for remark in issue.history %}
            <div class="header">{{ markdown(remark.subtext) }}</div>
            <div class="body">{{ markdown(remark.text) }}</div>
            <hr>
          {% endfor %}
        {% endif %}
        <div style="margin: 0 0 20px 0;">
          <textarea name="body" id="body" rows="15" class="markdown-editor" data-markdown-preview="#preview"></textarea>
          <div align="right">
            <a href="/markdown" target="_blank">
              <i class="icon-info-sign tooltip-bottom" data-delay="0" data-content="#tip-markdown"></i>
            </a>
          </div>
        </div>
        <div class="tooltip-content" id="tip-markdown">
          Click for more information about Markdown.
        </div>

        <div class="preview" id="preview" style="min-height: 200px;"></div>
      </div>

      <div class="col_4">
        <div>
          <table cellspacing="0" cellpadding="0"><tbody>
            <tr><td nowrap class="property">Status:</td><td class="value status">
              {% if issue %}
                {% if issue.status == "triage" %}
                  <div><input type="radio" name="status" value="triage" checked><span>Triage</span></div>
                  <div><input type="radio" name="status" value="assigned"><span>Assigned</span></div>
                  <div><input type="radio" name="status" value="deferred"><span>Deferred</span></div>
                  <div><input type="radio" name="status" value="rejected"><span>Rejected</span></div>
                  {% if user.email() == issue.verifier_email %}
                    <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                  {% endif %}
                {% elif issue.status == "assigned" %}
                  <div><input type="radio" name="status" value="assigned" checked><span>Assigned</span></div>
                  <div><input type="radio" name="status" value="working"><span>Working</span></div>
                  <div><input type="radio" name="status" value="fixed"><span>Fixed</span></div>
                  <div><input type="radio" name="status" value="deferred"><span>Deferred</span></div>
                  <div><input type="radio" name="status" value="rejected"><span>Rejected</span></div>
                  {% if user.email() == issue.verifier_email %}
                    <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                  {% endif %}
                {% elif issue.status == "working" %}
                  <div><input type="radio" name="status" value="assigned"><span>Assigned</span></div>
                  <div><input type="radio" name="status" value="working" checked><span>Working</span></div>
                  <div><input type="radio" name="status" value="fixed"><span>Fixed</span></div>
                  <div><input type="radio" name="status" value="deferred"><span>Deferred</span></div>
                  <div><input type="radio" name="status" value="rejected"><span>Rejected</span></div>
                  {% if user.email() == issue.verifier_email %}
                    <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                  {% endif %}
                {% elif issue.status == "fixed" %}
                  <div><input type="radio" name="status" value="triage"><span>Triage</span></div>
                  <div><input type="radio" name="status" value="assigned"><span>Assigned</span></div>
                  <div><input type="radio" name="status" value="fixed" checked><span>Fixed</span></div>
                  <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                {% elif issue.status == "deferred" %}
                  <div><input type="radio" name="status" value="triage"><span>Triage</span></div>
                  <div><input type="radio" name="status" value="assigned"><span>Assigned</span></div>
                  <div><input type="radio" name="status" value="deferred" checked><span>Deferred</span></div>
                  <div><input type="radio" name="status" value="rejected"><span>Rejected</span></div>
                  {% if user.email() == issue.verifier_email %}
                    <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                  {% endif %}
                {% elif issue.status == "rejected" %}
                  <div><input type="radio" name="status" value="triage"><span>Triage</span></div>
                  <div><input type="radio" name="status" value="rejected" checked><span>Rejected</span></div>
                  <div><input type="radio" name="status" value="closed"><span>Closed</span></div>
                {% else %}
                  <div><span>{{ issue.status|capitalize }}</span></div>
                {% endif %}
              {% else %}
                <div><input type="radio" name="status" value="triage" checked><span>Triage</span></div>
                <div><input type="radio" name="status" value="assigned"><span>Assigned</span></div>
              {% endif %}
            </td></tr>
            <tr><td nowrap class="property">Priority:</td><td class="value">
              <select name="priority">
                <option value="1" {% if issue and issue.priority == 1 %}selected{% endif %}>1 - Extremely Important</option>
                <option value="2" {% if issue and issue.priority == 2 %}selected{% endif %}>2 - Very Important</option>
                <option value="3" {% if not issue or issue.priority == 3 %}selected{% endif %}>3 - Somewhat Important</option>
                <option value="4" {% if issue and issue.priority == 4 %}selected{% endif %}>4 - Kind of Important</option>
                <option value="5" {% if issue and issue.priority == 5 %}selected{% endif %}>5 - Not Important at All</option>
              </select>
            </td></tr>
            <tr><td nowrap class="property">Severity:</td><td class="value">
              <select name="severity">
                <option value="1" {% if issue and issue.severity == 1 %}selected{% endif %}>1 - Extremely Severe</option>
                <option value="2" {% if issue and issue.severity == 2 %}selected{% endif %}>2 - Very Severe</option>
                <option value="3" {% if not issue or issue.severity == 3 %}selected{% endif %}>3 - Somewhat Severe</option>
                <option value="4" {% if issue and issue.severity == 4 %}selected{% endif %}>4 - Kind of Severe</option>
                <option value="5" {% if issue and issue.severity == 5 %}selected{% endif %}>5 - Not Severe at All</option>
              </select>
            </td></tr>
            <tr><td nowrap class="property">Due Date:</td><td class="value">
              <input type="text" class="full-width" name="due_date"
                    value="{% if issue and issue.due_date %}{{ local_time(issue.due_date) }}{% endif %}"></input>
            </td></tr>
            <tr>
              <td nowrap class="property">Assigned To:</td>
              <td class="value">
                <input type="text" class="full-width" name="assignee" 
                    placeholder="{% if issue %}{{ issue.assignee_email|e }}{% else %}{{ user.email()|e }}{% endif %}"
                    value="{% if issue %}{{ issue.assignee_email|e }}{% endif %}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Reported By:</td>
              <td class="value">
                <input type="text" class="full-width" name="reporter"
                    placeholder="{% if issue %}{{ issue.reporter_email|e }}{% else %}{{ user.email()|e }}{% endif %}"
                    value="{% if issue %}{{ issue.reporter_email|e }}{% endif %}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Verified By:</td>
              <td class="value">
                <input type="text" class="full-width" name="verifier"
                    placeholder="{% if issue %}{{ issue.verifier_email|e }}{% else %}{{ user.email()|e }}{% endif %}"
                    value="{% if issue %}{{ issue.verifier_email|e }}{% endif %}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">CC:</td>
              <td class="value">
                <textarea name="cc" rows="3">{% if issue %}{% for cc in issue.cc %}{{ cc|e }}
{% endfor %}{% endif %}</textarea>
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Depends On:</td>
              <td class="value">
                <textarea name="depends_on" rows="3">{% if issue %}{% for iss in issue.depends_on %}{{ iss }}
{% endfor %}{% endif %}</textarea>
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Blocking:</td>
              <td class="value">
                <textarea name="blocking" rows="3">{% if issue %}{% for iss in issue.blocking %}{{ iss }}
{% endfor %}{% endif %}</textarea>
              </td>
            </tr>
            <tr><td nowrap class="property">Privacy:</td><td class="value privacy">
              <div>
                <input type="radio" name="privacy" value="public" 
                    {% if issue and issue.privacy == "public" %}checked{% endif %}>
                <span>Public</span>
                <i class="icon-info-sign tooltip-bottom" data-delay="0" data-content="#tip-public"></i>
                <div class="tooltip-content" id="tip-public">
                  Public issues can be seen or edited by anyone.
                </div>
              </div>
              <div>
                <input type="radio" name="privacy" value="private" 
                    {% if not issue or issue.privacy == "private" %}checked{% endif %}>
                <span>Private</span>
                <i class="icon-info-sign tooltip-bottom" data-delay="0" data-content="#tip-private"></i>
                <div class="tooltip-content" id="tip-private">
                  Private issues can only be viewed and edited by people that are assigned, 
                  verifiers, or CCed.
                </div>
              </div>
              <div>
                <input type="radio" name="privacy" value="secure" 
                    {% if issue and issue.privacy == "secure" %}checked{% endif %}>
                <span>Secure</span>
                <i class="icon-info-sign tooltip-bottom" data-delay="0" data-content="#tip-secure"></i>
                <div class="tooltip-content" id="tip-secure">
                  <p>Secure issues can only be viewed and commented on by people that are assigned, 
                  verifiers, or CCed. </p>
                  <p>The only user that's allowed to edit other fields (summary, status, etc.) is the 
                  assigned user, or the verifying user when the status is fixed, deferred, or rejected.</p>
                </div>
              </div>
            </td></tr>
          </tbody></table>
        </div>
        <div class="right">
          {% if issue %}
            <input type="submit" class="large blue" value="Save">
          {% else %}
            <input type="submit" class="large blue" value="Create">
          {% endif %}
        </div>
      </div>
    </div>
  </form>

  <script language="javascript">
    $('.required').on('change keyup paste', function() {
      if ($(this).context.value == "") {
        $(this).addClass("error");
      } else {
        $(this).removeClass("error");
      }
    });

    $('.required').change();
  </script>
{% endblock %}

