{% set section_module = "time" %}
{% extends "templates/fragments/page.html" %}

{% block content %}

<div class="submenu">
  <ul class="menu">
    <li class="{% if section_time == "timesheet" %}current{% endif %}">
      <a href="/time">Timesheet</a>
    </li>
    <li class="{% if section_time == "expenses" %}current{% endif %}">
      <a href="/time/expenses">Expenses</a>
    </li>
    <li class="{% if section_time == "approvals" %}current{% endif %}">
      <a href="/time/approvals">Approvals</a>
    </li>
    <li class="{% if section_time == "reports" %}current{% endif %}">
      <a href="/time/reports">Reports</a>
    </li>
    <li class="{% if section_time == "manage" %}current{% endif %}">
      <a href="/time/settings">Manage</a>
    </li>
  </ul>
</div>

{% block page_content %}
  <div class="grid">
    <h3>No Content</h3>
  </div>
{% endblock %}

{% endblock %}

