{% macro xsrf_input() %}
  <input type="hidden" name="_xsrf_" id="_xsrf_" value=""></input>
{% endmacro %}

{% macro user_link(email, obj=None) %}
  {% if email.id %}{% set email = email.id() %}{% endif %}
  <a href="/users/{{ email|e }}">{% if obj %}{{ obj.display_name|e }}{% else %}{{ email|e }}{% endif %}</a>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Aegis{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/static/css/kickstart/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" media="all" />

    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/scripts/kickstart/kickstart.js"></script>
    <script type="text/javascript" src="/static/scripts/timezone.js"></script>
    <script type="text/javascript" src="/static/scripts/xsrf.js"></script>

    {% block header %}{% endblock %}

  </head>
  <body>

    <div class="topmenu">
      <ul class="menu">
        <li class="{% if not section_site %}current{% endif %} icon-only">
          <a href="/"><i class="icon-home icon-large"></i></a>
        </li>
        <!-- No Time support yet
        <li class="{% if section_site == "time" %}current{% endif %}">
          <a href="/time"><i class="icon-time icon-large"></i> Time</a>
        </li>
        -->
        <li class="{% if section_site == "issues" %}current{% endif %}">
          <a href="/issues"><i class="icon-bullhorn icon-large"></i> Issues</a>
        </li>
        <li class="{% if section_site == "assets" %}current{% endif %}">
          <a href="/assets"><i class="icon-tags icon-large"></i> Assets</a>
        </li>
        <li class="{% if section_site == "settings" %}current{% endif %}">
          <a href="/settings"><i class="icon-cogs icon-large"></i> Settings</a>
        </li>
      </ul>
    </div>

    {% block module %}
      <div class="grid">
        {% block content %}
          <h3>No Content</h3>
        {% endblock %}
      </div>
    {% endblock %}
  </body>
</html>
