[submodule "submodules/requests"]
	path = submodules/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "submodules/markdown"]
	path = submodules/markdown
	url = git@github.com:waylan/Python-Markdown.git
[submodule "submodules/HTML-KickStart"]
	path = submodules/HTML-KickStart
	url = git@github.com:joshuagatcke/HTML-KickStart.git
[submodule "submodules/marked"]
	path = submodules/marked
	url = git@github.com:chjj/marked.git
