[submodule "submodules/requests"]
	path = submodules/requests
	url = git://github.com/kennethreitz/requests.git
[submodule "submodules/markdown"]
	path = submodules/markdown
	url = git@github.com:waylan/Python-Markdown.git
