{% extends "templates/fragments/page.html" %}

{% block module %}

<div class="grid">
  <form action="/errors/report" method="POST">
    {{ xsrf_input() }}
    <div class="notice error">
      <h5>404 - Not Found</h5>
      The page you're looking for could be found.  If you believe this is in error, try again.<br><br>
      To escalate, please use the form below.<br><br>
    </div>

    <input type="hidden" name="request_code" value="{{ error.request_code }}"></input>
    <div class="col_12"><textarea id="description" placeholder="Please describe the problem" rows="6"></textarea></div>
    <div class="col_12 right"><button class="large blue">Submit</button></div>
  </form>
</div>

{% endblock %}

