{% set section_site = "time" %}
{% extends "templates/fragments/page.html" %}

{% block module %}

<div class="submenu">
  <ul class="menu">
    <li class="{% if section_module == "timesheet" %}current{% endif %}">
      <a href="/time">Timesheet</a>
    </li>
    <li class="{% if section_module == "expenses" %}current{% endif %}">
      <a href="/time/expenses">Expenses</a>
    </li>
    <li class="{% if section_module == "approvals" %}current{% endif %}">
      <a href="/time/approvals">Approvals</a>
    </li>
    <li class="{% if section_module == "reports" %}current{% endif %}">
      <a href="/time/reports">Reports</a>
    </li>
    <li class="{% if section_module == "manage" %}current{% endif %}">
      <a href="/time/settings">Manage</a>
    </li>
  </ul>
</div>

<div class="grid">
  {% block content %}
    <h3>No Content</h3>
  {% endblock %}
</div>

{% endblock %}

