<script src="/static/scripts/jquery.form.js"></script>

<input type="text" name="blobs" id="blobs" value="">
<div id="blob-file-list"></div>

<button type="button" id="blob-add-file"><i class="icon-plus"></i> Add file</button>

<style>
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>

<script language="javascript">

  var blob_list = $("#blobs");

  $("#blob-add-file").click(function() {
      var ui = $($.parseHTML("<div><div class='progress'>" +
        "<div class='bar'></div><div class='percent'>0%</div></div>" +
        "<div class='filename' id='blob-filename'></div></div>")).appendTo('#blob-file-list');

      var form = $($.parseHTML("<form method='POST' enctype='multipart/form-data'>" +
              "<input type='hidden' name='_xsrf_' value='{{ xsrf }}'>" +
              "<input type='file' name='file' id='blob-file'></form>")).appendTo('body');

      var bar = ui.find('.bar');
      var percent = ui.find('.percent');
      var fileButton = $(form.find("#blob-file"));

      fileButton.change(function() {
          var filename = fileButton[0].value.replace(/^.*[\\\/]/, '');
          ui.find('#blob-filename').html(fileButton[0].value.replace(/^.*[\\\/]/, ''));
          $.get("/blob/create", { filename: filename }, 
            function(upload_url) {
              console.log("Uploading to " + upload_url);
              form.attr('action', upload_url);
              form.submit();
            });
        }).click();


      form.ajaxForm({
          beforeSend: function() {
            var percentVal = '0%';
            bar.width(percentVal)
            percent.html(percentVal);
          },
          uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal)
            percent.html(percentVal);
          },
          success: function() {
            var percentVal = '100%';
            bar.width(percentVal)
            percent.html(percentVal);
          },
          complete: function(xhr) {
            if (xhr.status == 200) {
              blob_list.val(blob_list.val() + " " + xhr.responseText);
            } else {
              console.log(xhr.responseText);
            }
          }
        });
    });

</script>
