{% set today = build_date() %}
{% if keys.year %}
  {% set date = build_date(keys.year, keys.month, keys.day) %}
{% else %}
  {% set date = today %}
{% endif %}

{% macro url(date=date, mode=time_mode, user=keys.user)
    %}/time/{{ mode }}{% 
        if mode != "due" %}/{{ date.path }}{% endif 
    %}{% 
        if user %}/{{ user }} {% endif 
    %}{%
endmacro %}


<div class="col_4">
  {% if time_mode == "due" %}
    <h4>Due timesheets</h4>
  {% elif time_mode == "day" %}
    <span class="day-of-week">{{ date.day_of_week }}</span>
    <span class="date">
      {{ date.day }} {{ date.month_abbrv }} {% if date.year != today.year %}{{ date.year }}{% endif %}
    </span>
  {% elif time_mode == "week" %}
    <span class="day-of-week">
      {{ date.this_week.day }} 
      {% if date.this_week.month != date.this_week_end.month %}{{ date.this_week.month_abbrv }}{% endif %}
      – {{ date.this_week_end.day }} {{ date.this_week_end.month_abbrv }}
      {% if date.this_week_end.year != today.year %}{{ date.this_week_end.year }}{% endif %}
  {% endif %}
</div>

<div class="col_8 right">
  {% if time_mode == "day" %}
    <ul class="button-bar">
      <li><a href="{{ url(date.yesterday) }}"><i class="icon-angle-left"></i></a></li>
      <li {% if date == today %}class="selected"{% endif %}>
        <a href="{{ url(today) }}">Today</a>
      </li>
      <li><a href="{{ url(date.tomorrow) }}"><i class="icon-angle-right"></i></a></li>
    </ul>
  {% elif time_mode == "week" %}
    <ul class="button-bar">
      <li><a href="{{ url(date.last_week) }}"><i class="icon-angle-left"></i></a></li>
      <li {% if date.this_week == today.this_week %}class="selected"{% endif %}>
        <a href="{{ url(today.this_week) }}">This Week</a>
      </li>
      <li><a href="{{ url(date.next_week) }}"><i class="icon-angle-right"></i></a></li>
    </ul>
  {% endif %}

  <ul class="button-bar">
    <li><a href=""><i class="icon-calendar"></i></a></li>
  </ul>

  <ul class="button-bar">
    <li {% if time_mode == "day" %}class="selected"{% endif %}><a href="{{ url(mode="day") }}">Day</a></li>
    <li {% if time_mode == "week" %}class="selected"{% endif %}><a href="{{ url(mode="week") }}">Week</a></li>
    <li {% if time_mode == "due" %}class="selected"{% endif %}><a href="{{ url(mode="due") }}">Due</a></li>
  </ul>

  <ul class="button-bar">
    <li class="{% if keys.user: %}selected{% endif %} tooltip-bottom" 
        data-content="#select-user" data-action="click" data-delay="0">
      <a href=""><i class="icon-user"></i> Hounshell, Lynda</a>
    </li>

    {% if keys.user: %}
      {# 
        I want to keep this in case we want this, but it doesn't fit, particularly with a week spanning years

      {% set user_data = load("users/user", keys.user) %}
      <li class="selected tooltip-bottom" data-content="#select-user" data-action="click" data-delay="0">
        <a href=""><i class="icon-user"></i> {{ user_data.user }}</a>
      </li>
      #}
      <li><a href="{{ url(user=None) }}">Me</a></li>
    {% endif %}
  </ul>
</div>

<div class="tooltip-content" id="select-user">
  <label for="select1">User: </label>
  <select id="select1">
    <option>-- Choose --</option>
    <option>Ferguson, Fergie</option>
    <option>Hounshell, Lynda</option>
    <option>Hounshell, Paul</option>
  </select>
</div>

