{% extends "modules/issues/fragments/page.html" %}

{% set issue = load("issues/issue", keys.issue_id) %}

{% block content %}
  <script language="javascript" src="/scripts/marked/marked.js"></script>

  <form action="/issues/{{ keys.issue_id }}" method="POST">
    <input type="hidden" name="_method_" value="PUT">
    <div class="col_12 issues">
      <div class="col_1 property" style="padding: 5px 0 0 0;"><label for="summary">Summary:</label></div>
      <div class="col_11 summary">
        <input type="text" name="summary" class="full-width error" value="{{ issue.summary|e }}">
      </div>
    </div>

    <div class="col_12 issues">
      <div class="col_8">
        {% for remark in issue.history %}
          <div class="header">{{ markdown(remark.subtext) }}</div>
          <div class="body">{{ markdown(remark.text) }}</div>
          <hr>
        {% endfor %}
        <div style="margin: 0 0 20px 0;"><textarea name="body" rows="15" class="error"></textarea></div>
        <div class="preview" id="preview">Preview</div>
      </div>

      <script language="javascript">
        $("#body").on('change keyup paste', function() {
          console.log(document.forms
        });
      </script>

      <div class="col_4">
        <div>
          <table cellspacing="0" cellpadding="0"><tbody>
            <tr><td nowrap class="property">Status:</td><td class="value status">
              {% if issue.status == "triage" %}
                <div><input type="radio" name="status" value="triage" checked><span>triage</span></div>
                <div><input type="radio" name="status" value="assigned"><span>assigned</span></div>
                <div><input type="radio" name="status" value="deferred"><span>deferred</span></div>
                <div><input type="radio" name="status" value="rejected"><span>rejected</span></div>
              {% elif issue.status == "assigned" %}
                <div><input type="radio" name="status" value="assigned" checked><span>assigned</span></div>
                <div><input type="radio" name="status" value="working"><span>working</span></div>
                <div><input type="radio" name="status" value="fixed"><span>fixed</span></div>
                <div><input type="radio" name="status" value="deferred"><span>deferred</span></div>
                <div><input type="radio" name="status" value="rejected"><span>rejected</span></div>
              {% elif issue.status == "working" %}
                <div><input type="radio" name="status" value="assigned"><span>assigned</span></div>
                <div><input type="radio" name="status" value="working" checked><span>working</span></div>
                <div><input type="radio" name="status" value="fixed"><span>fixed</span></div>
                <div><input type="radio" name="status" value="deferred"><span>deferred</span></div>
                <div><input type="radio" name="status" value="rejected"><span>rejected</span></div>
              {% elif issue.status == "fixed" %}
                <div><input type="radio" name="status" value="triage"><span>triage</span></div>
                <div><input type="radio" name="status" value="assigned"><span>assigned</span></div>
                <div><input type="radio" name="status" value="fixed" checked><span>fixed</span></div>
                <div><input type="radio" name="status" value="closed"><span>closed</span></div>
              {% elif issue.status == "deferred" %}
                <div><input type="radio" name="status" value="triage"><span>triage</span></div>
                <div><input type="radio" name="status" value="assigned"><span>assigned</span></div>
                <div><input type="radio" name="status" value="deferred" checked><span>deferred</span></div>
                <div><input type="radio" name="status" value="rejected"><span>rejected</span></div>
              {% elif issue.status == "rejected" %}
                <div><input type="radio" name="status" value="triage"><span>triage</span></div>
                <div><input type="radio" name="status" value="rejected" checked><span>rejected</span></div>
                <div><input type="radio" name="status" value="closed"><span>closed</span></div>
              {% else %}
                <div><span>{{ issue.status }}</span></div>
              {% endif %}
            </td></tr>
            <tr><td nowrap class="property">Priority:</td><td class="value">
              <select name="priority">
                <option value="1" {% if issue.priority == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if issue.priority == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if issue.priority == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if issue.priority == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if issue.priority == 5 %}selected{% endif %}>5</option>
              </select>
            </td></tr>
            <tr><td nowrap class="property">Severity:</td><td class="value">
              <select name="severity">
                <option value="1" {% if issue.severity == 1 %}selected{% endif %}>1</option>
                <option value="2" {% if issue.severity == 2 %}selected{% endif %}>2</option>
                <option value="3" {% if issue.severity == 3 %}selected{% endif %}>3</option>
                <option value="4" {% if issue.severity == 4 %}selected{% endif %}>4</option>
                <option value="5" {% if issue.severity == 5 %}selected{% endif %}>5</option>
              </select>
            </td></tr>
            <tr>
              <td nowrap class="property">Assigned To:</td>
              <td class="value">
                <input type="text" class="full-width error" name="assignee" value="{{ issue.assignee_email|e }}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Reported By:</td>
              <td class="value">
                <input type="text" class="full-width error" name="reporter" value="{{ issue.reporter_email|e }}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">Verified By:</td>
              <td class="value">
                <input type="text" class="full-width error" name="verifier" value="{{ issue.verifier_email|e }}">
              </td>
            </tr>
            <tr>
              <td nowrap class="property">CC:</td>
              <td class="value"><textarea name="cc" rows="3">{% for cc in issue.cc %}{{ cc|e }}
{% endfor %}</textarea></td>
            </tr>
            <tr>
              <td nowrap class="property">Depends On:</td>
              <td class="value"><textarea name="depends_on" rows="3">{% for iss in issue.depends_on %}{{ iss }}
{% endfor %}</textarea></td>
            </tr>
            <tr>
              <td nowrap class="property">Blocking:</td>
              <td class="value"><textarea name="blocking" rows="3">{% for iss in issue.blocking %}{{ iss }}
{% endfor %}</textarea></td>
            </tr>
            <tr><td nowrap class="property">Privacy:</td><td class="value privacy">
              <div>
                <input type="radio" name="private" value="yes" {% if issue.private %}checked{% endif %}>
                <span>Private</span>
              </div>
              <div>
                <input type="radio" name="private" value="no" {% if not issue.private %}checked{% endif %}>
                <span>Public</span>
              </div>
            </td></tr>
          </tbody></table>
        </div>
        <div class="right">
          <input type="submit" class="large blue" value="Save">
        </div>
      </div>
    </div>
  </form>
{% endblock %}

