{% extends "modules/issues/fragments/page.html" %}

{% set issue = load("issues/issue", keys.issue_id) %}

{% macro user_link(email, obj=None) %}
  <a href="/users/{{ email }}">
    {% if obj %}{{ obj.display_name }}
    {% else %}{{ email }}{% endif %}
  </a>
{% endmacro %}

{% macro issue_link(issue, obj) %}
  <a href="/issues/{{ issue }}">
    {{ issue }}
    {#
    {% if obj %}{{ obj.summary }}
    {% else %}{{ issue }}{% endif %}
    #}
  </a>
{% endmacro %}

{% block content %}
  <div class="col_12 issues">
    <div class="col_12 summary"><h1>{{ issue.summary }}</h1></div>

    <div class="col_8">
      {% if issue.project %}
        <div class="project">Project: {{ issue.project }}</div>
      {% endif %}
      {% for remark in issue.history %}
        {% if loop.index != 1 %}<hr>{% endif %}
        <div class="header"><b>{{ remark.created_by }}</b> at {{ local_time(remark.created) }}</div>
        <div class="header">{{ markdown(remark.subtext) }}</div>
        <div class="body">{{ markdown(remark.text) }}</div>
        {% if remark.blobs %}
          <div class="attachments">
            <b>Attachments:</b><br>
            {% for blob in remark.blobs %}
              <a href="{{ blob.view_path }}">{{ blob.filename }}</a>
              <span style="font-size: 0.8em;">(<a href="{{ blob.download_path }}">Download</a>)</span><br>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="col_4">
      <div>
        <table cellspacing="0" cellpadding="0"><tbody>
          <tr><td nowrap class="property">Status:</td><td class="value">{{ issue.status|capitalize }}</td></tr>
          <tr><td nowrap class="property">Priority:</td><td class="value">{{ issue.priority }}</td></tr>
          <tr><td nowrap class="property">Severity:</td><td class="value">{{ issue.severity }}</td></tr>
          <tr><td nowrap class="property">Due Date:</td><td class="value">
            {% if issue.due_date %}{{ local_time(issue.due_date) }}{% endif %}
          </td></tr>
          <tr><td nowrap class="property">Assigned To:</td><td class="value">
            {{ user_link(issue.assignee_email, issue.assignee) }}
          </td></tr>
          <tr><td nowrap class="property">Reported By:</td><td class="value">
            {{ user_link(issue.reporter_email, issue.reporter) }}
          </td></tr>
          <tr><td nowrap class="property">Verified By:</td><td class="value">
            {{ user_link(issue.verifier_email, issue.verifier) }}
          </td></tr>
          <tr><td nowrap class="property">CC:</td><td class="value">
            {% for cc in issue.cc %}
              <div><span>{{ user_link(cc, issue.cc[cc]) }}</span></div>
            {% endfor %}
          </td></tr>
          <tr><td nowrap class="property">Depends On:</td><td class="value">
            {% for iss in issue.depends_on %}
              <div><span class="long-line">{{ issue_link(iss, issue.depends_on[iss]) }}</span></div>
            {% endfor %}
          </td></tr>
          <tr><td nowrap class="property">Blocking:</td><td class="value">
            {% for iss in issue.blocking %}
              <div><span class="long-line">{{ issue_link(iss, issue.blocking[iss]) }}</span></div>
            {% endfor %}
          </td></tr>
          <tr><td nowrap class="property">Privacy:</td><td class="value">
            {{ issue.privacy|capitalize }}
          </td></tr>
          <tr><td nowrap class="property">Sort Score:</td><td class="value">
            {{ issue.score }}<br>
            {{ markdown(issue.score_description) }}
          </td></tr>
        </tbody></table>
      </div>
      <div class="right">
        <a class="button large blue" href="/issues/edit/{{ keys.issue_id }}"><i class="icon-pencil"></i> Update</a>
      </div>
    </div>
  </div>
{% endblock %}

